#killstreak {
    position: fixed;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    left: 900px;
    background-color: #c48b11f1;
    color: #fdfdfd;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
    display: none; 
}

i{
    color: #fdfdfd;
}

@keyframes colorChange {
    0%   {background-color: #141313b4;}
    25%  {background-color: #68a8e4;}
    50%  {background-color: #141313b4;}
    75%  {background-color: #68a8e4;}
    100% {background-color: #141313b4;}


    
}

.animated-background {
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
